<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% @user.load_files %>
<% @user.generate_id %>

<%= form_for @user do |f| %>
  <%= f.file_field :fl %>
  <%= submit_tag("submit") %>
<% end %>


<form action="/users/<%=@user.id%>/user_files" method="get">
    <button type="submit"><a href="<%=@user.id%>/view" >Your Files</a></button>
</form>


